@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{
    --fonte: "Inter", sans-serif;
    --fonte-weight-regular: 400;
    --fonte-weight-bold: 700;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: #00030C;
    background-image: url(assets/background.png);
    background-repeat: no-repeat; 
    background-size: 100vw;
    color: #fff;
}

.conteudo{
    display: flex;
    flex-direction: column;
}

.conteudo__sessao{
    margin: 10% 5%; /*primeiro valor vertical e o segundo horizontal */
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.conteudo__titulo{
    font-family: var(--fonte);
    font-weight: var(--fonte-weight-bold);
    font-size: 1.75rem;
    text-align: center;
    margin-bottom: 1.4rem;
}

.conteudo__link{
    display: flex;
    flex-direction: column;
    margin-top: 3.4rem;
    gap: 16px;
    width: 80%;
    text-align: center;
}

.conteudo__link__btn{
    background-color: #167BF7;
    padding: 1.4rem 1rem;
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
    font-family: var(--fonte);
    font-weight: var(--fonte-weight-regular);
    font-size: 1rem;
}

.conteudo__link__btn__semfundo{
    background-color: transparent;
    border: 1px solid #fff;
}

.conteudo__detalhes{
    font-family: var(--fonte);
    font-weight: var(--fonte-weight-regular);
    font-size: 0.75rem;
    color: #C0C0C0;
}

.conteudo__informacoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 15%; /*primeiro valor vertical e o segundo horizontal */
}

.conteudo__informacoes__blocos{
    display: flex;
    align-items: center;
    gap: 70px;
}

.conteudo__informacoes__blocos__texto__titulo{
    font-family: var(--fonte);
    font-weight: var(--fonte-weight-bold);
    font-size: 3rem;
}

.conteudo__informacoes__blocos__texto__paragrafo{
    font-family: var(--fonte);
    font-weight: var(--fonte-weight-regular);
    font-size: 1rem;
    color: #F9F9F9;
}

.conteudo__telas{
    margin: 5% 15%;
    text-align: center;
}

.conteudo__telas__dispositivos{
    display: flex;
    justify-content: center;
    gap: 70px;
}

.conteudo__telas__titulo{
    margin-bottom: 2.5rem;
}

.conteudo__telas__dispositivos__paragrafo{
    font-family: var(--fonte);
    font-weight: var(--fonte-weight-bold);
    font-size: 2rem;
}

.rodape{
    padding: 5% 15%;
    text-align: center;
}

.rodape_links{
    font-family: var(--fonte);
    font-weight: var(--fonte-weight-regular);
    font-size: 1rem;
    margin: 2.5rem 0.5rem;
    text-decoration: none;
    color: #fff;
}

.rodape__paragrafo{
    font-size: 0.9rem;
    margin-top: 1.5rem;
}

.rodape_links a:hover{
    color: #167BF7;
}

.rodape_links a:active{
    color: purple;
}

.conteudo__link__btn:hover{
    background-color: #3c92fa;
    color: #00030C; 
}

.conteudo__link__btn__semfundo:hover{
    background-color: #121c35;
    color: #fff;
}

@media (max-width: 1050px) {
    body{
        background-image: none;
    }

    .conteudo__sessao{
        width: 80%;
        align-items: center;
        margin: 5% 10%;
    }

    .conteudo__informacoes{
        gap: 200px;
    }

    .conteudo__informacoes__blocos{
        flex-direction: column;
    }

    .conteudo__informacoes__blocos__texto{
        text-align: center;
    }

    .conteudo__informacoes__blocos__img{
        order: -1;
    }

    .conteudo__telas__dispositivos{
        flex-direction: column;
    }

}
